div.App {
  display: flex;
  flex-flow: column;

  min-height: 100vh;
}

header {
  padding: 12px;
  
  background-color: lightgrey;
}

main {
  flex-grow: 1;
  padding: 12px;
}

footer {
  padding: 12px;

  background-color: lightgrey;
}